Telegram Ai Booking System.json
{
  "name": "Telegram Ai Booking System",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1760,
        432
      ],
      "id": "8a0a5350-86eb-4bba-9d2e-9c9510a34a56",
      "name": "Telegram Trigger",
      "webhookId": "7717d0d0-dd45-4d75-9c33-1fa7a7200edf",
      "credentials": {
        "telegramApi": {
          "id": "jRS0XuxKlhV6p0ob",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/17c-q0KhnVaUq0Bf4_gCqO_6GODIyso1tlWgogPeklag/edit",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17c-q0KhnVaUq0Bf4_gCqO_6GODIyso1tlWgogPeklag/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1536,
        432
      ],
      "id": "cdee08f2-1533-4ae6-819c-e72e82b7378c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "COR5F9qLrg3GbWgN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const servicesText = $json.services_text || 'No services available';\nconst userText = $json.user_text || 'Hello';\nconst chatId = $json.chat_id || '';\nconst firstName = $json.first_name || 'Customer';\n\nconst systemPrompt = `You are a friendly and professional booking assistant for a shoe service shop. ONLY use the services listed below. Do NOT invent any service.\n\nSERVICES:\n${servicesText}\n\nGuidelines:\n- Greet the customer warmly\n- Help them choose a service\n- Answer questions about services\n- If they want to book, ask them to send a message in this EXACT format:\n\nbook <service name>, name=<their name>, email=<their email>, date=YYYY-MM-DD, time=<time>\n\nExample: book shoe cleaning, name=Rayhan, email=rayhan@gmail.com, date=2026-03-10, time=5:30 PM\n\n- If a service is not available, apologize and suggest alternatives\n- Keep responses friendly and under 150 words`;\n\nlet response;\ntry {\n  const requestBody = JSON.stringify({\n    model: 'llama-3.1-8b-instant',\n    temperature: 0.2,\n    max_tokens: 400,\n    messages: [\n      { role: 'system', content: systemPrompt },\n      { role: 'user', content: userText }\n    ]\n  });\n\n  response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.groq.com/openai/v1/chat/completions',\n    headers: {\n      'Content-Type': 'application/json',\n      'Authorization': 'Bearer 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'\n    },\n    body: requestBody\n  });\n} catch(err) {\n  return [{\n    json: {\n      ai_response: 'Sorry, I am having trouble right now. Please try again in a moment.',\n      chat_id: chatId,\n      user_text: userText,\n      has_error: true\n    }\n  }];\n}\n\nconst aiMessage = response.choices[0].message.content;\n\nreturn [{\n  json: {\n    ai_response: aiMessage,\n    chat_id: chatId,\n    user_text: userText,\n    first_name: firstName,\n    has_error: false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1104,
        432
      ],
      "id": "4e8a8e18-f217-484a-9e26-1bd1d20a04b6",
      "name": "Groq AI Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "848eaaa1-e131-419a-8cf0-a792e5861871",
              "leftValue": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"text\"] }}",
              "rightValue": "book",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -880,
        432
      ],
      "id": "976598b9-6ec4-4489-bdd4-08eece54f464",
      "name": "Is Booking Request?"
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Groq AI Code\"].json[\"chat_id\"] }}",
        "text": "={{ $node[\"Groq AI Code\"].json[\"ai_response\"] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -656,
        624
      ],
      "id": "c2bd88c2-f7e4-4212-9d00-e3f050e78733",
      "name": "Send AI Reply",
      "webhookId": "54d92792-8587-4f3e-9d76-a04cfe4849c8",
      "credentials": {
        "telegramApi": {
          "id": "jRS0XuxKlhV6p0ob",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $node[\"Telegram Trigger\"].json[\"message\"][\"text\"] || '';\n\nlet customer_name = '';\nlet email = '';\nlet preferred_date = '';\nlet preferred_time = '';\nlet selected_service = '';\n\n// Flexible regex - handles spaces around = and case insensitive\ntry { customer_name = text.match(/name\\s*=\\s*([^,\\n]+)/i)[1].trim(); } catch(e) { customer_name = ''; }\ntry { email = text.match(/email\\s*=\\s*([^,\\n]+)/i)[1].trim(); } catch(e) { email = ''; }\ntry { preferred_date = text.match(/date\\s*=\\s*([^,\\n]+)/i)[1].trim(); } catch(e) { preferred_date = ''; }\ntry { preferred_time = text.match(/time\\s*=\\s*([^,\\n]+)/i)[1].trim(); } catch(e) { preferred_time = ''; }\ntry { selected_service = text.match(/book\\s+([^,\\n]+)/i)[1].trim(); } catch(e) { selected_service = ''; }\n\nconst chat_id = String($node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"]);\n\nconst missing = [];\nif (!customer_name) missing.push('name');\nif (!email) missing.push('email');\nif (!preferred_date) missing.push('date');\nif (!preferred_time) missing.push('time');\nif (!selected_service) missing.push('service');\n\nconst now = new Date();\nconst bookingRef = 'BK' + now.getFullYear() + String(now.getMonth()+1).padStart(2,'0') + String(now.getDate()).padStart(2,'0') + String(now.getHours()).padStart(2,'0') + String(now.getMinutes()).padStart(2,'0');\n\nreturn [{\n  json: {\n    customer_name,\n    email,\n    preferred_date,\n    preferred_time,\n    selected_service,\n    chat_id,\n    booking_ref: bookingRef,\n    is_valid: missing.length === 0,\n    missing_fields: missing.join(', ')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        224
      ],
      "id": "42ffb3b8-7fdf-4c8c-9914-389c4c6b0004",
      "name": "Parse Booking Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "valid-check",
              "leftValue": "={{ $json.is_valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -448,
        224
      ],
      "id": "475c5d96-d9de-4991-9891-fd10671a6411",
      "name": "Is Valid Booking?"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=⚠️ Missing information: *{{ $json.missing_fields }}*\n\nPlease send your booking in this format:\n\n`book <service>, name=<your name>, email=<your email>, date=YYYY-MM-DD, time=<time>`\n\nExample:\n`book shoe cleaning, name=Rayhan, email=rayhan@gmail.com, date=2026-03-10, time=5:30 PM`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -224,
        320
      ],
      "id": "16a0e911-6e73-46d7-98c7-bc5569ababc5",
      "name": "Send Missing Fields Message",
      "webhookId": "b98e1a6e-5f1e-4a2b-9481-19df7521406a",
      "credentials": {
        "telegramApi": {
          "id": "jRS0XuxKlhV6p0ob",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1eF2sBDfgEVpif_e3ADZu4iMfb41Vxayem_T1m4Qnruo/edit",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eF2sBDfgEVpif_e3ADZu4iMfb41Vxayem_T1m4Qnruo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Booking ID": "={{ $json.booking_ref }}",
            "Timestamp": "={{ $now }}",
            "Customer Name": "={{ $json.customer_name }}",
            "Telegram Chat ID": "={{ $json.chat_id }}",
            "Email": "={{ $json.email }}",
            "Selected Service": "={{ $json.selected_service }}",
            "Preferred Date": "={{ $json.preferred_date }}",
            "Preferred Time": "={{ $json.preferred_time }}",
            "Status": "CONFIRMED"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Booking ID",
              "displayName": "Booking ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telegram Chat ID",
              "displayName": "Telegram Chat ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Selected Service",
              "displayName": "Selected Service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Preferred Date",
              "displayName": "Preferred Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Preferred Time",
              "displayName": "Preferred Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -224,
        80
      ],
      "id": "5c810eb1-e48d-4c8b-9e59-d565f3fb1065",
      "name": "Save Booking to Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "COR5F9qLrg3GbWgN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Parse Booking Data').first().json.email }}",
        "subject": "=✅ Booking Confirmed - {{ $('Parse Booking Data').first().json.booking_ref }}",
        "message": "=<!DOCTYPE html><html><head><style>body{font-family:Arial,sans-serif;background:#f4f4f4;padding:20px}.container{background:white;max-width:600px;margin:0 auto;border-radius:10px;overflow:hidden;box-shadow:0 2px 10px rgba(0,0,0,0.1)}.header{background:#2563eb;color:white;padding:30px;text-align:center}.header h1{margin:0;font-size:24px}.body{padding:30px}.row{padding:12px 0;border-bottom:1px solid #eee;display:flex}.label{font-weight:bold;color:#555;width:180px}.value{color:#222}.ref-box{background:#eff6ff;border:2px dashed #2563eb;border-radius:8px;padding:15px;text-align:center;margin:20px 0}.ref-box p{margin:0;color:#2563eb;font-size:18px;font-weight:bold}.footer{background:#f8f8f8;padding:20px;text-align:center;color:#888;font-size:13px}</style></head><body><div class='container'><div class='header'><h1>🎉 Booking Confirmed!</h1><p style='margin:8px 0 0'>Thank you for your booking</p></div><div class='body'><p>Dear <strong>{{ $('Parse Booking Data').first().json.customer_name }}</strong>,</p><p>Your booking has been successfully confirmed!</p><div class='ref-box'><p>Booking Reference: {{ $('Parse Booking Data').first().json.booking_ref }}</p></div><div class='row'><span class='label'>👤 Customer Name</span><span class='value'>{{ $('Parse Booking Data').first().json.customer_name }}</span></div><div class='row'><span class='label'>👟 Service Booked</span><span class='value'>{{ $('Parse Booking Data').first().json.selected_service }}</span></div><div class='row'><span class='label'>📅 Preferred Date</span><span class='value'>{{ $('Parse Booking Data').first().json.preferred_date }}</span></div><div class='row'><span class='label'>🕐 Preferred Time</span><span class='value'>{{ $('Parse Booking Data').first().json.preferred_time }}</span></div><div class='row'><span class='label'>📧 Email</span><span class='value'>{{ $('Parse Booking Data').first().json.email }}</span></div><p style='margin-top:20px'>If you need to make any changes, please contact us.</p><p>We look forward to serving you! 😊</p></div><div class='footer'><p>© 2025 Shoe Service Shop - Automated Booking System</p></div></div></body></html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "9e4598f0-6a4f-4dce-8bdd-6a211c830260",
      "name": "Send Confirmation Email",
      "webhookId": "52db9e30-b860-46af-9d7b-33432baf51c7",
      "credentials": {
        "gmailOAuth2": {
          "id": "62iSpjfhnkJXlVpj",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Booking Data').first().json.chat_id }}",
        "text": "=✅ *Booking Confirmed!*\n\n📋 *Booking Ref:* `{{ $('Parse Booking Data').first().json.booking_ref }}`\n👤 *Name:* {{ $('Parse Booking Data').first().json.customer_name }}\n👟 *Service:* {{ $('Parse Booking Data').first().json.selected_service }}\n📅 *Date:* {{ $('Parse Booking Data').first().json.preferred_date }}\n🕐 *Time:* {{ $('Parse Booking Data').first().json.preferred_time }}\n\n✉️ A confirmation email has been sent to:\n{{ $('Parse Booking Data').first().json.email }}\n\nThank you! We look forward to serving you 😊",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        160
      ],
      "id": "a83426b6-301e-4792-8ea5-ef5121b29040",
      "name": "Send Booking Confirmation",
      "webhookId": "726a1032-540d-46a9-b7bb-e5b3f69b3077",
      "credentials": {
        "telegramApi": {
          "id": "jRS0XuxKlhV6p0ob",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\nconst servicesText = allItems\n  .map(i => `- ${i.json[\"product Name\"]} | ${i.json[\"Description\"]} | Price: ${i.json[\"Price\"]} | Available: ${i.json[\"Availability\"]} | Duration: ${i.json[\"Service Duration\"]}`)\n  .join(\"\\n\");\n\nconst userText = $node[\"Telegram Trigger\"].json[\"message\"][\"text\"] || \"Hello\";\nconst chatId = String($node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"]);\nconst firstName = $node[\"Telegram Trigger\"].json[\"message\"][\"from\"][\"first_name\"] || \"Customer\";\n\nreturn [{\n  json: {\n    services_text: servicesText,\n    user_text: userText,\n    chat_id: chatId,\n    first_name: firstName\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1328,
        432
      ],
      "id": "06a00a67-f682-4309-8234-790a9b154a98",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "18d6ca59-ddd9-44a0-a63d-21b17d27d037",
              "name": "services_text",
              "value": "={{ $items(\"Get row(s) in sheet\").map(i => `- ${i.json[\"product Name\"]} | ${i.json[\"Description\"]} | Price: ${i.json[\"Price\"]} | Available: ${i.json[\"Availability\"]} | Duration: ${i.json[\"Service Duration\"]}`).join(\"\\n\") }}",
              "type": "string"
            },
            {
              "id": "user-text-field",
              "name": "user_text",
              "value": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"text\"] }}",
              "type": "string"
            },
            {
              "id": "chat-id-field",
              "name": "chat_id",
              "value": "={{ String($node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"]) }}",
              "type": "string"
            },
            {
              "id": "first-name-field",
              "name": "first_name",
              "value": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"from\"][\"first_name\"] || \"Customer\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1328,
        608
      ],
      "id": "80a24a18-1b1f-4d4e-9639-62f1bfdb0622",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Groq AI Code\"].json[\"chat_id\"] }}",
        "text": "⚠️ Something went wrong. Please try again or type *hi* to start over.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -880,
        704
      ],
      "id": "e178a36e-d0c2-4ff6-8d8f-93b4f3a1573f",
      "name": "Send Error Message",
      "webhookId": "8b692530-142b-4b1f-a435-7727320c23ed",
      "credentials": {
        "telegramApi": {
          "id": "jRS0XuxKlhV6p0ob",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq AI Code": {
      "main": [
        [
          {
            "node": "Is Booking Request?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Booking Request?": {
      "main": [
        [
          {
            "node": "Parse Booking Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send AI Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Booking Data": {
      "main": [
        [
          {
            "node": "Is Valid Booking?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid Booking?": {
      "main": [
        [
          {
            "node": "Save Booking to Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Missing Fields Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Booking to Sheet": {
      "main": [
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Booking Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Groq AI Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c3c6014f-42df-4162-9a65-430b0333d413",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1efd14785d50ae6dea9b05dafc668aa76b05c6fc2fce483b6f1e452e6de9a614"
  },
  "id": "nEvXZ462jclnkj42",
  "tags": []
}